
@{
    ViewData["Title"] = "Index";

}
<body style="background-color:burlywood">

<h1 style="color:darkred ; align-content:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome New student</h1>
<h1 style="align-items:center; color:green">You are Enrolled!!!</h1>
</body>
