@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:antiquewhite">  
<div class="text-center" >
    <h1 class="display-4" style="color:mediumvioletred;">College Admission</h1>
    
</div>
</body>
